{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

{{end}}
<div class="main_content">
  {{if auth.user is not None:}}
  <script>
    // URLS DEFINED HERE AS HMAC_KEY REQUIRES LOGIN
    var add_image_url = "{{=URL('api', 'add_image', user_signature=True)}}";
    var user_images_url = "{{=URL('api', 'get_user_images', user_signature=True)}}";
    var get_users_url = "{{=URL('api', 'get_users', user_signature=True)}}";
    var set_price_url = "{{=URL('api', 'set_price', user_signature=True)}}";
    var purchase_url = "{{=URL('api', 'purchase', hmac_key=session.auth.hmac_key)}}"
  </script>
  <div id="vue-div" class="display:none">
    <div class="container padded">
      <div v-if="!is_checkout" class="threequarters">
        <!-- Left part of the page -->
        
        
        <div >
          <!-- UPLOADING -->
          <div v-if="self_page" id="uploader_div" style="display:none">
            Upload an image file: <input id="file_input" type="file" accept="image/jpeg">
            <input type="number" v-model="upload_price" placeholder="ENTER A PRICE OR LEAVE BLANK FOR DEFAULT [5.00]" min="0" step="0.01">
          </div>

          <button v-if="self_page && !is_uploading" v-on:click="open_uploader">
           Add Image <i class="fa fa-plus"></i>
          </button>
          <button v-if="self_page && is_uploading"  v-on:click="close_uploader">
            Cancel
          </button>
          <button v-if="self_page && is_uploading"  v-on:click="upload_file">
            Submit
          </button>
          
          <button v-if="!is_uploading" v-on:click="go_to_checkout() " class="right">
            Checkout
          </button>
          <button id="psuedobutton" v-if="!self_page && !is_checkout">
            void <!-- A FAKE BUTTON FOR SPACING PURPOSES-->
          </button>
        </div>

        <div>
          <!-- IMAGES DISPLAYED HERE -->
          <ul class="container">
            <li  v-if="!add_image_pending" v-show="imagelist.length != 0" 
                 v-for="image in imagelist" class="lifted padded quarter" 
                 id="image_card">
                 
                <img v-bind:src="image.image_url" 
                    width="auto" id="image" />
                <p class="price">
                    <b class="left" style="margin-right: 5px">${print_price(image.price)}</b>
                    <!-- Add to Cart button -->
                    <button class="right" v-if="(!is_in_cart(image._idx))" v-on:click="add_to_cart(image._idx)">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    <!-- Display In Cart & Remove from Cart Button -->
                    <button class="right" v-if="is_in_cart(image._idx)" v-on:click="remove_from_cart(image.id)">
                        <i class="fa fa-check "></i>
                    </button>
                    <!-- Set Price if Self page -->
                    <input v-if="self_page" v-model="image.price" type="number" min="0" max="999999999" step="0.01" 
                           v-on:blur="set_price(image._idx)" style="border: black 1px solid" />
                </p>
            </li>
            
            <li v-if="add_image_pending">
                <!-- LOADING -->
                <h6>Please Wait .........</h6>
            </li>

            <li v-if="!add_image_pending" v-show="imagelist.length == 0">
                There's nothing in this user's gallery
            </li>
            
          </ul>
        </div>
        <!-- get more -->
        <button v-if="!add_image_pending && has_more"  v-on:click="get_more">Show More</button>
      </div>
      
      
      
      <div v-if="is_checkout" id="cart_list" class="threequarters">
        <!-- CHECKOUT -->
        <div height="34px">
          <button id="psuedobutton">
            void <!-- A FAKE BUTTON FOR SPACING PURPOSES-->
          </button>
          <button v-on:click="return_to_shop()" class="right">
            Return to Shop
          </button>
        </div>
        <div>
          <!-- CART DISPLAYED HERE -->
          <ul class="container">
            <li v-if="cart.length == 0">
              <h6>Cart is Empty</h6>
            </li>
            <li  v-if="cart.length != 0" 
                 v-for="image in cart" class="lifted padded quarter" 
                 id="image_card">
                 
                <img v-bind:src="image.image_url" 
                    width="auto" id="image" />
                <p class="price">
                    <b>${print_price(image.price)}</b>
                    <!-- Display In Cart Button -->
                    <button v-on:click="remove_from_cart(image.id)">
                        <i class="fa fa-times "></i>
                    </button>
                </p>
            </li>
            
          </ul>
        </div>
      </div>

      
      <div class="user_space quarter right">
        <!-- Right part of the page -->
          <div v-if="!is_checkout">
          <p><b>Click on a Name to view a gallery</b></p>
          <table class="fill" id="user_selector">
            <tbody>
              <tr v-for="user in userlist" class="center">
                <!-- display logged in user's name, Unselected -->
                <td v-if="user.id == auth_id && user.id != last_selection" v-on:click="get_user_images(user.id)"
                    style="background-color:rgb(38, 166, 154)">
                  <h6>${user.first_name} ${user.last_name} ${show_selection(user.id)}</h6>
                </td>
                <!-- display other user's name, Unselected -->
                <td v-if="user.id != auth_id && user.id != last_selection" v-on:click="get_user_images(user.id)" >
                  <h6>${user.first_name} ${user.last_name} ${show_selection(user.id)}</h6>
                </td>
                <!-- display logged in user's name, Selected -->
                <td v-if="user.id == auth_id && user.id == last_selection" v-on:click="get_user_images(user.id)"
                    style="background-color:rgb(52, 239, 221)">
                  <h6>${user.first_name} ${user.last_name} ${show_selection(user.id)}</h6>
                </td>
                <!-- display other user's name, Selected -->
                <td v-if="user.id != auth_id && user.id == last_selection" v-on:click="get_user_images(user.id)"
                    style="background-color:#ddd">
                  <h6>${user.first_name} ${user.last_name} ${show_selection(user.id)}</h6>
                </td>
                
              </tr>
              <tr v-if="add_image_pending" class = "add_image_pending">
                <td>
                  <h6>Processing <i  class="fa fa-spinner fa-pulse"></i></h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- is_checkout -->
        <div v-if="is_checkout">
          <p>
            <b>Your Cart</b>
            <button v-if="cart.length > 0" class="btn right" v-on:click="pay()">
              <i class="fa fa-lg fa-credit-card"></i> Pay
            </button>
          </p>
          <table class="fill" id="user_selector">
            <tbody>
              <tr v-for="item in cart" class="center">
                <td>
                  <h6>${item._idx + 1} <i>${print_price(item.price, 1)}</i></h6>
                </td>
              </tr>
              <tr>
                <td>
                  <h6>Total: ${print_price(get_cart_total())}</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
  </div>
  {{else:}}
  <div>
    <h1>Please Log In</h1>
    <h2>This image platform requires an account</h2>
    <a href="{{=URL('default', 'user')}}" class="btn">Log in!</a>
    <a href="{{=URL('default', 'user')}}/register" class="btn">Sign up!</a>
  </div>
  {{pass}}

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>